<section id="contato" class="py-24">
  <div
    class="container mx-auto grid grid-cols-1 gap-y-12 md:grid-cols-2 lg:grid-cols-3 md:gap-8 xl:gap-0 xl:grid-cols-4 px-8 text-maggiore-green">
    <div class="">
      <h2 class="text-xl font-bold min-h-[50px] flex items-center">
        Sua unidade te espera.
      </h2>
      <div class="space-y-4">
        <p>Plantão de vendas ↓</p>
        <button
          class="px-6 bg-maggiore-green text-white flex gap-4 items-center text-lg min-h-14">
          <svg
            width="16"
            height="16"
            viewBox="0 0 21 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.9371 3.19707C15.9894 1.15309 13.3362 0 10.5716 0H10.5399C4.7774 4.30096e-05 0.0875069 4.89002 0.0875069 10.901L0.0875481 10.9017C0.0878932 12.8143 0.570837 14.6932 1.48791 16.3497L0 22L5.54388 20.4831C7.07616 21.3536 8.7931 21.8105 10.5382 21.8121H10.5383H10.5405C16.3161 21.8121 21 16.9293 21 10.9083C21 8.01703 19.8967 5.24282 17.9366 3.19944L17.9371 3.19707ZM10.5435 19.9759C8.98594 19.9759 7.45496 19.5364 6.1169 18.708L5.79839 18.5101L2.50849 19.4085L3.38343 16.0656L3.17781 15.7226C2.30534 14.2772 1.84045 12.6008 1.84045 10.8923C1.84045 5.88719 5.73399 1.82829 10.5351 1.82829C12.8459 1.82829 15.0634 2.78771 16.6938 4.49403C18.3248 6.19503 19.241 8.50154 19.2412 10.9065C19.2412 15.9146 15.3464 19.9759 10.5424 19.9759H10.5435ZM15.3122 13.1841C15.0497 13.0464 13.7661 12.3896 13.5281 12.2984C13.2901 12.2072 13.1151 12.1607 12.9375 12.4362C12.7599 12.7116 12.262 13.3219 12.1097 13.5052C11.9575 13.6885 11.8044 13.7123 11.5454 13.5745C11.2864 13.4368 10.4403 13.1494 9.44542 12.2209C8.87236 11.6701 8.38011 11.0344 7.98446 10.3342C7.83131 10.0605 7.96779 9.91371 8.1008 9.78055C8.23382 9.64739 8.36332 9.4631 8.49192 9.30349C8.60063 9.16603 8.68903 9.01241 8.75419 8.84771C8.78894 8.77264 8.80522 8.68973 8.80156 8.60646C8.7979 8.5232 8.77442 8.44219 8.73324 8.37074C8.66236 8.23397 8.13731 6.89306 7.92731 6.34671C7.71731 5.80036 7.49948 5.89068 7.33849 5.87786C7.1775 5.86509 7.0121 5.86969 6.83973 5.86969C6.70685 5.87293 6.57606 5.90484 6.4556 5.9634C6.33514 6.02197 6.22763 6.10591 6.13984 6.20994C5.90438 6.48081 5.22805 7.14208 5.22805 8.48295C5.22805 9.82382 6.1634 11.1172 6.29464 11.3015C6.42592 11.4857 8.13731 14.2359 10.7623 15.4153C11.3853 15.6944 11.8718 15.8622 12.2498 15.9917C12.5872 16.0977 12.9377 16.1516 13.2901 16.1516C13.4925 16.1516 13.6953 16.1338 13.8945 16.0984C14.3968 16.0218 15.4397 15.4408 15.6594 14.805C15.879 14.1692 15.8781 13.6192 15.8125 13.5107C15.7468 13.4022 15.5771 13.3228 15.3137 13.1832L15.3122 13.1841Z"
              fill="white"></path>
          </svg>
          <span>Clique e fale conosco</span>
        </button>
      </div>
    </div>
    <div class="hidden xl:block"></div>
    <div class="">
      <svg
        width="358"
        height="88"
        viewBox="0 0 358 88"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-[230px] lg:w-[300px] object-contain">
        <g clip-path="url(#clip0_39_10)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M28.7955 0C32.9602 0 36.9265 0.894511 40.516 2.48475L36.1134 9.91913C33.8526 9.0445 31.3935 8.56743 28.8154 8.56743C17.5907 8.56743 8.48798 17.6914 8.48798 28.9424C8.48798 30.5128 8.66646 32.0434 9.0036 33.5143H24.7301V30.9898H32.861V41.6445C22.8659 41.6445 12.8906 41.6445 2.89547 41.6445C-6.20723 23.0784 7.27825 0 28.7955 0Z"
            fill="#313F36"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M28.7558 57.8451C24.5912 57.8451 20.6249 56.9506 17.0353 55.3604L21.438 47.926C23.6988 48.8006 26.1579 49.2777 28.736 49.2777C39.9607 49.2777 49.0634 40.1537 49.0634 28.9027C49.0634 27.3324 48.8849 25.8018 48.5477 24.3308H32.8213V26.8553H24.6903V16.2007C34.6855 16.2007 44.6608 16.2007 54.6559 16.2007C63.7189 34.7469 50.2334 57.8253 28.736 57.8253L28.7558 57.8451Z"
            fill="#313F36"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M101.26 28.9822C101.26 26.2191 102.053 22.7802 103.858 20.4942C108.538 14.7296 118.752 15.5446 124.84 18.2679H125.871V11.6883C116.411 8.80596 103.739 8.2295 96.9567 16.8764C94.0414 20.4744 92.8317 24.7283 92.8317 28.9225C92.8317 33.7926 94.4182 38.6826 98.0474 42.3402C102.172 46.4748 107.805 48.0651 114.052 48.0651C118.791 48.0054 123.333 47.3693 127.993 46.2562V27.5907H112.227V33.9517H119.803V41.1077C111.255 43.3937 101.24 39.3784 101.24 28.9623L101.26 28.9822ZM210.79 10.9528V17.4131H230.245L209.322 41.6047V48.0651H239.823V41.6047H219.357L238.852 19.0233C239.942 17.2144 240.121 15.5247 239.328 13.8749C238.296 11.8075 235.5 10.9528 233.14 10.9528H210.77H210.79ZM337.375 19.222L343.067 33.1168H331.664L337.355 19.222H337.375ZM358 48.0651L343.146 13.8152C342.293 11.8473 340.112 10.5353 337.573 10.5353C335.035 10.5353 332.774 11.8075 331.941 13.8152L320.042 41.6047H301.143C300.112 41.6047 299.259 40.8096 299.259 39.9151V10.9528H291.068V40.8096C291.068 44.7852 294.836 48.0651 299.437 48.0651H325.437V47.9458L329.086 39.4181H345.704L349.334 48.0651H358ZM243.274 28.9225C243.274 40.5313 251.643 48.0651 263.344 48.0651C275.044 48.0651 283.473 40.5313 283.473 28.9225C283.473 17.3138 275.044 9.77998 263.344 9.77998C251.643 9.77998 243.274 17.3138 243.274 28.9225ZM251.703 28.9225C251.703 21.1303 256.244 16.2403 263.344 16.2403C270.443 16.2403 275.044 21.9056 275.044 28.9225C275.044 36.7147 270.443 41.5451 263.344 41.5451C256.244 41.5451 251.703 36.7147 251.703 28.9225ZM176.561 10.9528V17.4131H196.015L175.093 41.6047V48.0651H205.594V41.6047H185.128L204.622 19.0233C205.713 17.2144 205.892 15.5247 205.098 13.8749C204.067 11.8075 201.271 10.9528 198.911 10.9528H176.541H176.561ZM151.771 19.222L157.463 33.1168H146.06L151.751 19.222H151.771ZM131.642 48.0651H139.773L143.482 39.4181H160.1L163.73 48.0651H172.396L157.542 13.8152C156.689 11.8473 154.508 10.5353 151.97 10.5353C149.431 10.5353 147.17 11.8075 146.337 13.8152L131.662 48.0651H131.642Z"
            fill="#313F36"></path>
        </g>
      </svg>
      <div class="space-y-4 text-lg">
        <p>WhatsApp: <span class="underline">(51) 99221-9166 </span></p>
        <p>Telefone: <span class="underline">(51) 3779-3521</span></p>
      </div>
    </div>

    <div class="space-y-4 lg:justify-self-end">
      <h4 class="font-bold text-xl min-h-[70px] flex items-center">
        Incorporação e Construção
      </h4>
      <a
        href="https://instagram.com/gazzola.inc"
        class="block hover:underline active:underline focus:underline text-lg"
        target="_blank">@gazzola.inc</a
      >
      <a
        href="https://gazzola.com.br"
        class="block hover:underline active:underline focus:underline text-lg"
        target="_blank">gazzola.com.br</a
      >
    </div>
  </div>
</section>
