---
import { Image } from "astro:assets";
import ImgDiferenciais from "@assets/diferenciais.png";
import Vantagens from "./Vantagens.astro";
---

<section id="diferencias" class="py-24 bg-white text-maggiore-green">
  <div class="container mx-auto space-y-24 px-8">
    <div class="grid md:grid-cols-2">
      <h1 class="text-4xl font-bold max-w-3xl">
        Pensado em cada detalhe. <br />Bem-estar para você.
      </h1>
      <p class="self-end text-xl">Conheça as vantagens do empreendimento.</p>
    </div>
    <div class="grid place-items-center">
      <Vantagens />
    </div>
  </div>
</section>
