---
import Gallery from "@components/jsx/Gallery";
---

<section class="py-24" id="galeria">
  <div
    class="mx-auto container flex flex-col gap-20 place-self-start text-white"
  >
    <div class="flex justify-between items-center">
      <h1
        class="justify-self-start text-6xl font-bold place-self-start max-w-3xl"
      >
        Encante-se. Explore. <br /> Para o seu estilo de vida.
      </h1>
      <svg
        width="152"
        height="103"
        viewBox="0 0 152 103"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M76 103C75.1359 103 74.3149 102.571 73.8397 101.841C62.174 83.9919 72.4571 45.3749 74.1853 39.1962L71.809 35.8494L71.5497 35.549C68.9142 38.381 62.9085 44.6884 56.4707 50.7384C40.2251 65.9277 35.0404 66.4426 32.5344 65.4986C31.2814 65.0267 29.7692 63.6965 29.7692 60.2639C29.7692 53.6132 38.0216 42.8434 45.7555 35.5061C18.6652 32.1164 0 19.8019 0 13.1941C0 12.0356 0.47527 10.9629 1.42581 10.0619C5.444 6.15726 18.3195 6.45761 19.7885 6.50052C49.7737 6.50052 66.7106 24.0498 71.6362 30.0569L73.9693 26.3668C68.2229 19.5874 65.4576 13.7519 65.8033 9.11789C65.9761 6.50052 67.1427 4.26932 69.1734 2.5101C73.062 -0.836701 78.9812 -0.836701 82.8698 2.5101C84.9005 4.26932 86.0239 6.50052 86.2399 9.11789C86.5856 13.7948 83.8204 19.5874 78.0739 26.3668L80.4071 30.0569C85.3326 24.0498 102.269 6.50052 132.298 6.50052C133.681 6.50052 146.556 6.20017 150.574 10.0619C151.482 10.9629 152 12.0356 152 13.1941C152 19.8019 133.292 32.1164 106.288 35.4632C113.935 42.7575 122.188 53.5274 122.317 60.1781C122.404 63.6536 120.891 64.9837 119.638 65.4557C117.176 66.3997 112.034 65.9277 95.7021 50.7384C89.2211 44.6884 83.1723 38.381 80.4935 35.549L80.2342 35.8923L77.8579 39.1962C79.6293 45.3749 89.8692 83.949 78.2035 101.841C77.7283 102.571 76.9073 103 76.0432 103H76ZM76 45.4607C73.1052 57.6465 67.9204 85.0217 76 99.0096C84.0796 84.9788 78.8948 57.6465 76 45.4607ZM82.4378 32.803C96.8687 48.4214 114.454 63.9969 118.385 62.4093C118.774 62.2377 118.99 61.4653 118.99 60.2639C118.861 54.3855 109.615 42.7146 101.924 35.9352C99.5475 36.1498 97.1279 36.2785 94.6652 36.3214C92.6777 36.3214 90.8198 35.4632 89.6964 33.9186C89.0483 33.0604 88.8323 31.9877 89.0483 30.9579C89.2644 29.9281 89.9557 29.0271 90.9062 28.5122C92.8505 27.4824 95.1836 27.4395 97.1711 28.4264C98.813 29.2416 100.844 30.7005 103.09 32.5455C131.779 29.7994 148.76 16.7555 148.76 13.1941C148.76 13.0225 148.716 12.765 148.371 12.4218C146.081 10.2335 137.396 9.63278 132.428 9.76151C102.788 9.76151 86.1967 28.2118 82.5242 32.803H82.4378ZM50.1194 35.9352C42.5583 42.6288 33.0097 54.1281 33.0097 60.221C33.0097 60.7788 33.0529 62.1518 33.6578 62.3664C37.676 63.9111 55.1745 48.3785 69.519 32.803C65.8465 28.2118 49.2553 9.76151 19.6589 9.76151C14.647 9.58988 5.96248 10.1906 3.67254 12.4218C3.32689 12.765 3.28368 13.0225 3.28368 13.1941C3.28368 16.7555 20.2638 29.7994 48.9528 32.5455C51.1563 30.7005 53.2302 29.2416 54.8721 28.4264C56.8596 27.4395 59.1927 27.4824 61.137 28.5122C62.0875 29.0271 62.7356 29.8852 62.9949 30.9579C63.2109 31.9877 62.9949 33.0604 62.3468 33.9186C61.1802 35.4632 59.3223 36.3643 57.3781 36.3214C54.9153 36.2785 52.4957 36.1498 50.1626 35.9352H50.1194ZM73.7101 32.8459L76 36.021L78.2899 32.8459L76 29.2845L73.7101 32.8459ZM53.9215 32.8888C55.0881 32.9317 56.2547 32.9746 57.4213 33.0175C58.2854 33.0175 59.1495 32.6313 59.668 31.9448C59.7544 31.8161 59.7544 31.7303 59.7112 31.6444C59.7112 31.5586 59.668 31.4728 59.5384 31.4299C58.5446 30.915 57.3349 30.8721 56.3411 31.387C55.6066 31.7303 54.7857 32.2881 53.8783 32.9317L53.9215 32.8888ZM94.0603 31.0008C93.4986 31.0008 92.9369 31.1296 92.4184 31.4299C92.2888 31.4728 92.2456 31.6015 92.2456 31.6444C92.2456 31.7303 92.2456 31.8161 92.2888 31.9448C92.8073 32.6313 93.6714 33.0604 94.5355 33.0175C95.7453 33.0175 96.9119 32.9317 98.0785 32.8888C97.1711 32.2452 96.3502 31.7303 95.5725 31.3441C95.0972 31.0866 94.5787 31.0008 94.0171 31.0008H94.0603ZM76 3.23953C74.3149 3.23953 72.6731 3.84024 71.3337 4.99875C69.9511 6.15726 69.2598 7.61612 69.1302 9.33243C68.8709 12.9367 71.2473 17.8711 76.0432 23.6636C80.8391 17.8711 83.2155 12.9367 82.9562 9.33243C82.8266 7.57321 82.0921 6.15726 80.7527 4.99875C79.4133 3.84024 77.7283 3.23953 76.0864 3.23953H76Z"
          fill="#AEA181"></path>
      </svg>
    </div>

    <Gallery client:load />
  </div>
</section>
