---
import Gallery from "@components/jsx/Gallery";
---



<section class="py-24" id="galeria">

  <div class="mx-auto container flex flex-col gap-20 place-self-start">
      <h1 class="font-medium uppercase justify-self-start text-2xl place-self-start">Imagens do empredimento</h1>
      <Gallery client:load  />
    </div>
</section>