---
import { Image } from "astro:assets";
import ImgLocalizacao from "@assets/localizacao_maggiore.png";

const pontosEstrategicos = [
  {
    id: 1,
    desc: "Viva Open Mall",
    tempo: "5",
  },
  {
    id: 2,
    desc: "Parque Germânia",
    tempo: "10",
  },
  {
    id: 3,
    desc: "Iguatemi",
    tempo: "15",
  },
  {
    id: 4,
    desc: "Bourbon Country",
    tempo: "20",
  },
  {
    id: 5,
    desc: "Hospital Conceição",
    tempo: "12",
  },
  {
    id: 6,
    desc: "Bourbon Wallig",
    tempo: "5",
  },
  {
    id: 7,
    desc: "Boulevard Assis Brasil",
    tempo: "8",
  },
];
---

<section id="localização" class="">
  <div class="grid lg:grid-cols-2">
    <div class="bg-gray-300 py-16 lg:px-16 space-y-12">
      <h2 class="text-4xl font-bold text-maggiore-verde-950 px-8 lg:px-0">
        Praticidade no dia a dia. <br /> Comodidade garantida.
      </h2>

      <a
        class="grid place-items-center place-content-center"
        href="https://maps.app.goo.gl/as4w8QJssQMsvpuNA"
        target="_blank">
        <Image
          src={ImgLocalizacao}
          alt="Mapa mostrando a localização do empreendimento"
          class="max-w-full object-contain lg:pb-16"
        />
      </a>
    </div>
    <div class="bg-maggiore-green lg:px-24">
      <div class="text-white py-16 px-8 lg:py-28 space-y-10">
        <h4 class="text-2xl text-white">Praticidade a 5 minutos de casa.</h4>

        <ol class="grid sm:grid-cols-2 gap-4 sm:h-[600px] sm:pt-16">
          {
            pontosEstrategicos.map((pontos) => (
              <li class="flex gap-4 items-center text-xl">
                <span class="text-4xl font-medium  rounded-full border-maggiore-dourado-400 border-2 min-w-[75px] min-h-[75px] grid place-items-center ">
                  {pontos.id}
                </span>
                <span class="flex flex-col">{pontos.desc}</span>
              </li>
            ))
          }
          <li></li>
        </ol>
      </div>
    </div>
  </div>
</section>
