---
import GalleryPlantas from "@components/jsx/GalleryPlantas";
---

<section class="py-12" id="plantas">
  <div class="mx-auto container flex flex-col gap-20 place-self-start">
      <h1 class="font-medium uppercase justify-self-start text-2xl place-self-start">Confira as plantas dos apartamentos</h1>
      <!-- <GalleryPlantas client:load /> -->
  </div>
</section>