---
import GalleryPlantas from "@components/PlantasBaixas.astro";
---

<section class="py-12 bg-white text-maggiore-green" id="plantas">
  <div class="mx-auto container flex flex-col gap-20 place-self-start px-8">
    <div class="grid md:grid-cols-2 gap-y-10">
      <h1 class="text-4xl font-bold max-w-3xl">
        Apaixone-se.<br />Sinta-se em casa.
      </h1>
      <p class="self-end text-xl">
        Apartamentos de 2 e 3 dormitórios <br /> com opções de gardens e cobertura.
      </p>
    </div>
    <GalleryPlantas />
  </div>
</section>
