---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import logo from "../assets/logo-maggiore.png"
---

<Layout title="Maria Maggiore - Home">
	<main class="grid place-items-center h-[100svh]">
		<section class="flex flex-col gap-24 justify-center items-center">
			<Image src={logo} width={200} height={200} alt="Logo Maria Maggiore" class="transition-transform hover:scale-110"/>
			<h1 class="font-bold text-4xl font-serif"></h1>
		</section>
	</main>
</Layout>

