---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/sections/Hero.astro";
import Sobre from "../components/sections/Sobre.astro";
import Diferenciais from "../components/sections/Diferenciais.astro";
import Localizacao from "../components/sections/Localizacao.astro";
import Galeria from "../components/sections/Galeria.astro";
import Plantas from "../components/sections/Plantas.astro";
import Cta from "../components/sections/Cta.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout
  title="Maria Maggiore - Gazzola"
  description="Maria Maggiore, um empreendimento Gazzola."
  image="/fachada_1.webp">
  <main class="">
    <Hero />
    <Sobre />
    <Diferenciais />
    <Galeria />
    <Plantas />
    <Localizacao />
    <Cta />
    <Footer />
  </main>
</Layout>
