---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import logo from "../assets/logo-maggiore.png"
import Hero from '../components/sections/Hero.astro';
import Sobre from '../components/sections/Sobre.astro';
import Diferenciais from '../components/sections/Diferenciais.astro';
import Localizacao from '../components/sections/Localizacao.astro';
import Galeria from '../components/sections/Galeria.astro';
import Plantas from '../components/sections/Plantas.astro';
import Contato from '../components/sections/Contato.astro';
---

<Layout title="Maria Maggiore - Home">
	<main class="">
		<Hero />
		<Sobre />
		<Diferenciais />
		<Localizacao />
		<Galeria />
		<Plantas />
		<Contato />

	</main>
</Layout>


<style is:global>
	section {
		min-height: 101svh;
	}

	section > div {
		@apply grid place-items-center place-content-center h-screen;
	}
	
	main > section:nth-child(even) {
  	@apply bg-white text-maggiore-green; /* Cor 1 para seções ímpares */
	}

main > section:nth-child(odd) {
  @apply bg-maggiore-green text-maggiore-brown; /* Cor 2 para seções pares */
}

main > section > div > h1 {
      display: block;
      transform: translateX(-100px);
      opacity: 0;
			font-size: 70px;
			
    }
</style>

<script>
	import { inView, animate } from "motion";

inView("section", ({ target }) => {
  animate(
    target.querySelectorAll("div>h1"),
    { opacity: 1, transform: "none" },
    { delay: 0.3, duration: 1, easing: [0.17, 0.55, 0.55, 1] }
  )

	return () => animate(
    target.querySelectorAll("div>h1"),
    { opacity: 0, transform: "translateX(-100px)" },
    { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
  )
});
</script>

