---

import logo from '@assets/gazzola-logo-white.webp'
---


<header class="bg-maggiore-green text-white sticky top-0 py-8 w-full z-50 grid place-items-center">
  <div class="container flex justify-between items-center gap-x-1 md:gap-x-0">

    <a href="#hero"class="block">
      <img src={logo.src} alt="Logo Maria Maggiore" class="w-48 object-contain">
    </a>
    <nav class="flex gap-4">
      <a href="#hero">incio</a>
      <a href="#sobre">sobre</a>
      <a href="#galeria">galeria</a>
      <a href="#localizacao">localização</a>
      <a href="#diferencias">diferencias</a>
      <a href="#plantas">plantas</a>
      <a href="#contato">contato</a>
    </nav>
  </div>
</header>


<style>
  a {
    @apply  capitalize font-normal transform transition-transform  hover:underline hover:text-gray-200
  }
</style>