---
import { Image } from "astro:assets";
import Gallery from "./jsx/Gallery";

import apartamentos from "@data/apartamentos";
---


<div class="plantas-container relative">
  <div id="plantas-swiper" class="swiper main-swiper relative">
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
      {
        apartamentos.map((apartamento) => (
          <div class="swiper-slide">
            <div class="grid grid-cols-1">
              
                <div class="px-4 md:px-24 py-6">

                  <Gallery
                    client:load
                    photos={[apartamento.plantaImg, ...apartamento.images]}
                    columns={apartamento.colums}
                    type="columns"
                  />
                </div>
                
                
                <div class="grid grid-cols-1 row-start-1 md:row-start-2 md:grid-cols-2  xl:grid-cols-3 gap-y-4 lg:px-24 px-0 pb-2">
                  
                  <h3 class="text-maggiore-green font-semibold text-3xl  max-w-xs inline-block" class:list={[apartamento.titulo === "Top Gardens " ? "max-w-[30px]" : ""]}>
                    {apartamento.titulo}
                  </h3>
                  
                  <div class="self-center text-xl max-w-xs">
                    <p class="font-semibold">{apartamento.metragem}</p>
                  </div>

                  <div class="self-center max-w-xs">
                    <p class="text-xs">{apartamento.descricao}</p>
                  </div>
                 
                  
                </div>
               
                
              
            </div>
          </div>
        ))
      }
    </div>
    <!-- <div class="swiper-pagination"></div> -->
  </div>
  <div class="swiper-button-next hidden md:block"></div>
  <div class="swiper-button-prev hidden md:block"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Autoplay } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  document.addEventListener("DOMContentLoaded", () => {
    let mainSwiper = new Swiper("#plantas-swiper", {
      modules: [Navigation, Pagination, Autoplay],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        hiddenClass: "swiper-button-hidden",
      },
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,

      },
      autoHeight: true,
      breakpoints: {
        500: {
          autoHeight: false,
          height: 600
       
        }
      },
      autoplay: {
        delay: 5500,
        disableOnInteraction: false,
      },
    });
  });
</script>

<style>
  .plantas-container {
    position: relative;
    padding: 0 0; /* Ajuste conforme necessário para dar espaço às setas */
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    --swiper-navigation-color: #2b443b;
  }

  .swiper-button-next {
  
    display: none;
  }

  .swiper-button-prev {
    
    display: none;
  }

  @media (min-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
    .swiper-pagination {
      position: relative;
      top: 0;
  }

  }

  .swiper-pagination {
    --swiper-pagination-color: #2b443b;
     
    position: relative;
    /* top: -16px; */


  }
</style>
