---
import { Image } from "astro:assets";
import Gallery from "./jsx/Gallery";

import apartamentos from "@data/apartamentos";
---

<div class="">
  <div id="plantas-swiper" class="swiper main-swiper">
    <div class="swiper-wrapper">
      {
        apartamentos.map((apartamento) => (
          <div class="swiper-slide">
            <div class="grid grid-cols-1">
              <div class="grid grid-cols-1 gap-y-12">
                <div class=" flex  justify-between items-center justify-self-start w-full border-t-2 pt-8 border-maggiore-green">
                  <p class="font-bold self-baseline">{apartamento.metragem}</p>
                  <h3 class="text-maggiore-green font-medium text-3xl max-w-xs  self-baseline text-nowrap">
                    {apartamento.titulo}
                  </h3>
                  <p class="text-xs self-baseline text-nowrap">
                    {apartamento.descricao}
                  </p>
                </div>
                <div class="px-14">
                  <Gallery
                    client:load
                    photos={[apartamento.plantaImg, ...apartamento.images]}
                    columns={apartamento.colums}
                  />
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev -mr-10"></div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  document.addEventListener("DOMContentLoaded", () => {
    let mainSwiper = new Swiper("#plantas-swiper", {
      modules: [Navigation],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: true,
    });
  });
</script>

<style>
  .swiper {
    /* --swiper-navigation-color: #aea181; */
    --swiper-navigation-color: #2b443b;
  }

  .planta-image {
    @apply w-full h-full overflow-hidden;
  }
</style>
