---
import { Image } from "astro:assets";
import plantas from "@data/plantas";
import ape1 from "@assets/fotos/interior/interior_801_803_cob_1.webp";
import ape2 from "@assets/fotos/interior/interior_801_803_cob_2.webp";
---

<div class="px-32">
  <div id="plantas-swiper" class="swiper main-swiper">
    <div class="swiper-wrapper">
      {
        plantas.map((planta) => (
          <div class="swiper-slide">
            <div class="grid grid-cols-1 lg:grid-cols-2">
              <div class="grid gap-8">
                <div class="space-y-8 h-[33svh] flex justify-center flex-col items-center ml-20">
                  <h3 class="text-maggiore-green font-medium text-3xl max-w-xs border-t-2 pt-6 border-maggiore-green self-baseline">
                    Apartamentos <br /> Tipo 3 dormitórios
                  </h3>
                  <p class="text-xs self-baseline">(Finais 01 e 03)</p>
                  <p class="font-bold self-baseline">95,28m² privativos</p>
                </div>
                <Image
                  src={planta}
                  alt={"planta maria maggiore"}
                  class="planta-image"
                />
              </div>
              <div class="grid gap-8">
                <Image
                  src={ape1}
                  alt={"ape 1 maria maggiore"}
                  class="planta-image p-10"
                />
                <Image
                  src={ape2}
                  alt={"ape 2 maria maggiore"}
                  class="planta-image p-10"
                />
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next invisible sm:visible"></div>
    <div class="swiper-button-prev invisible sm:visible"></div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  document.addEventListener("DOMContentLoaded", () => {
    let mainSwiper = new Swiper("#plantas-swiper", {
      modules: [Navigation],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: true,
    });
  });
</script>

<style>
  .swiper {
    /* --swiper-navigation-color: #aea181; */
    --swiper-navigation-color: #2b443b;
  }

  .planta-image {
    @apply h-[33svh] object-fill w-full overflow-hidden;
  }
</style>
