---
import { Image } from "astro:assets";
import Gallery from "./jsx/Gallery";

import apartamentos from "@data/apartamentos";
---

<div class="">
  <div id="plantas-swiper" class="swiper main-swiper">
    <div class="swiper-wrapper">
      {
        apartamentos.map((apartamento) => (
          <div class="swiper-slide">
            <div class="grid grid-cols-1">
              <div class="grid grid-cols-1 gap-y-12">
                <div class=" flex  justify-center gap-24 items-center  w-full">
                  <h3 class="text-maggiore-green font-medium text-3xl border-t-2 border-maggiore-green pt-4">
                    {apartamento.titulo}
                  </h3>
                  <div class="pt-4">
                    <p class="text-xs ">{apartamento.descricao}</p>
                    <p class="font-bold">{apartamento.metragem}</p>
                  </div>
                </div>
                <div class="px-14 border-b-2 border-maggiore-green pb-8 min-h-[650px] flex justify-center items-center">
                  <Gallery
                    client:load
                    photos={[apartamento.plantaImg, ...apartamento.images]}
                    columns={apartamento.colums}
                  />
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  document.addEventListener("DOMContentLoaded", () => {
    let mainSwiper = new Swiper("#plantas-swiper", {
      modules: [Navigation],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: true,
    });
  });
</script>

<style>
  .swiper {
    /* --swiper-navigation-color: #aea181; */
    --swiper-navigation-color: #2b443b;
  }

  .planta-image {
    @apply w-full h-full overflow-hidden;
  }
</style>
